# Data Cleaning and Feature Engineering

The dataset used is the historical solar radiation time series of Solcast from Manila, Philippines.

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [4]:
# read the dataframe
df= pd.read_csv('../dataset/manila-solcast-raw.csv')

In [5]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [6]:
# select some features
df= df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [7]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
8944,2020-01-07T18:00:00Z,2020-01-07T17:00:00Z,25.0,0,0,0,57.3,82.2,1010.5,100,3.2
10421,2020-03-09T07:00:00Z,2020-03-09T06:00:00Z,32.5,194,689,725,44.7,52.9,1004.9,236,4.6
12279,2020-05-25T17:00:00Z,2020-05-25T16:00:00Z,30.1,0,0,0,61.2,67.8,1009.4,339,1.5
7794,2019-11-20T20:00:00Z,2019-11-20T19:00:00Z,26.9,0,0,0,58.3,77.6,1005.0,99,3.2
14813,2020-09-08T07:00:00Z,2020-09-08T06:00:00Z,33.6,317,419,640,52.3,54.0,1005.7,137,0.9
9368,2020-01-25T10:00:00Z,2020-01-25T09:00:00Z,27.2,28,10,29,57.3,74.0,1008.3,73,3.1
2535,2019-04-15T17:00:00Z,2019-04-15T16:00:00Z,25.4,0,0,0,43.8,80.3,998.4,73,2.5
16476,2020-11-16T14:00:00Z,2020-11-16T13:00:00Z,27.9,0,0,0,52.8,73.0,1009.2,89,3.0
4305,2019-06-28T11:00:00Z,2019-06-28T10:00:00Z,29.4,4,0,4,62.6,71.1,1004.0,238,6.3
2995,2019-05-04T21:00:00Z,2019-05-04T20:00:00Z,25.8,0,0,0,50.0,85.4,995.6,289,1.3

In [8]:
old_names= ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names= ['PeriodEnd','PeriodStart','Temperature', 'Radiation', 'DNI', 'GHI', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns= dict(zip(old_names, new_names)), inplace=True)

In [9]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,24.7,177,0,177,56.2,92.2,1002.1,58,7.5
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,24.9,254,0,254,56.6,93.5,1002.0,62,8.2
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,25.0,355,0,355,56.8,94.3,1001.4,64,8.5
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,25.1,215,0,215,56.7,94.5,1000.5,65,8.5
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,25.1,154,0,154,56.7,94.7,999.6,66,8.4

In [10]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17589 entries, 0 to 17588
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      17589 non-null  object
 1   PeriodStart    17589 non-null  object
 2   Temperature    17589 non-null  float64
 3   Radiation      17589 non-null  int64
 4   DNI            17589 non-null  int64
 5   GHI            17589 non-null  int64
 6   Precipitation  17589 non-null  float64
 7   Humidity       17589 non-null  float64
 8   Pressure       17589 non-null  float64
 9   WindDirection  17589 non-null  int64
 10  WindSpeed      17589 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 1.5+ MB

In [11]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

e:\Justin\Documents\Omdena\mlops\.venv\lib\site-packages\pandas\core\arrays\datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [12]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17589 entries, 0 to 17588
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      17589 non-null  datetime64[ns]
 1   PeriodStart    17589 non-null  datetime64[ns]
 2   Temperature    17589 non-null  float64
 3   Radiation      17589 non-null  float64
 4   DNI            17589 non-null  int64
 5   GHI            17589 non-null  int64
 6   Precipitation  17589 non-null  float64
 7   Humidity       17589 non-null  int32
 8   Pressure       17589 non-null  float64
 9   WindDirection  17589 non-null  float64
 10  WindSpeed      17589 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 1.4 MB

In [13]:
# display top 6 rows
df.head(6)

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,24.7,177.0,0,177,56.2,92,1002.1,58.0,7.5
1,2018-12-31 03:00:00,2018-12-31 02:00:00,24.9,254.0,0,254,56.6,93,1002.0,62.0,8.2
2,2018-12-31 04:00:00,2018-12-31 03:00:00,25.0,355.0,0,355,56.8,94,1001.4,64.0,8.5
3,2018-12-31 05:00:00,2018-12-31 04:00:00,25.1,215.0,0,215,56.7,94,1000.5,65.0,8.5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,25.1,154.0,0,154,56.7,94,999.6,66.0,8.4
5,2018-12-31 07:00:00,2018-12-31 06:00:00,24.9,158.0,0,158,56.5,94,999.4,67.0,8.3

In [14]:
# create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [15]:
df.head(5)

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,24.7,177.0,0,177,56.2,92,1002.1,58.0,7.5,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,24.9,254.0,0,254,56.6,93,1002.0,62.0,8.2,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,25.0,355.0,0,355,56.8,94,1001.4,64.0,8.5,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,25.1,215.0,0,215,56.7,94,1000.5,65.0,8.5,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,25.1,154.0,0,154,56.7,94,999.6,66.0,8.4,2018,2018,12,12,5,6

In [16]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS']== 4 and row['HourPE']== 5 and row['Radiation']> 0:
        value= '05:00:00'
    elif row['HourPS']== 5 and row['HourPE']== 6 and row['Radiation']> 0:
        value= '06:00:00'
    return value

In [17]:
# create a new column using the function above
df['Sunrise']= df.apply(time_to_sunrise, axis=1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2018-12-31 02:00:00,2018-12-31 01:00:00,24.7,177.0,0,177,56.2,92,1002.1,58.0,7.5,2018,2018,12,12,1,2,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,24.9,254.0,0,254,56.6,93,1002.0,62.0,8.2,2018,2018,12,12,2,3,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,25.0,355.0,0,355,56.8,94,1001.4,64.0,8.5,2018,2018,12,12,3,4,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,25.1,215.0,0,215,56.7,94,1000.5,65.0,8.5,2018,2018,12,12,4,5,05:00:00
4,2018-12-31 06:00:00,2018-12-31 05:00:00,25.1,154.0,0,154,56.7,94,999.6,66.0,8.4,2018,2018,12,12,5,6,06:00:00

In [18]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [20]:
df.Sunrise.unique()

array([0, '05:00:00', '06:00:00'], dtype=object)

In [23]:
# create a new column using the function above
df['Sunset']= df.apply(time_to_sunset, axis=1)
df.tail(5)

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
17584,2021-01-01 18:00:00,2021-01-01 17:00:00,24.2,0.0,0,0,55.2,76,1009.8,9.0,3.2,2021,2021,1,1,17,18,0,0
17585,2021-01-01 19:00:00,2021-01-01 18:00:00,24.0,0.0,0,0,54.6,76,1009.2,2.0,3.3,2021,2021,1,1,18,19,0,0
17586,2021-01-01 20:00:00,2021-01-01 19:00:00,23.8,0.0,0,0,54.1,77,1009.1,358.0,3.5,2021,2021,1,1,19,20,0,0
17587,2021-01-01 21:00:00,2021-01-01 20:00:00,23.6,0.0,0,0,53.6,78,1009.4,359.0,3.4,2021,2021,1,1,20,21,0,0
17588,2021-01-01 22:00:00,2021-01-01 21:00:00,23.5,0.0,0,0,53.4,78,1009.9,358.0,3.1,2021,2021,1,1,21,22,0,0

In [24]:
df.Sunset.unique()

array([0], dtype=int64)

In [25]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17589 entries, 0 to 17588
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      17589 non-null  datetime64[ns]
 1   PeriodStart    17589 non-null  datetime64[ns]
 2   Temperature    17589 non-null  float64
 3   Radiation      17589 non-null  float64
 4   DNI            17589 non-null  int64
 5   GHI            17589 non-null  int64
 6   Precipitation  17589 non-null  float64
 7   Humidity       17589 non-null  int32
 8   Pressure       17589 non-null  float64
 9   WindDirection  17589 non-null  float64
 10  WindSpeed      17589 non-null  float64
 11  YearPS         17589 non-null  int64
 12  YearPE         17589 non-null  int64
 13  MonthPS        17589 non-null  int64
 14  MonthPE        17589 non-null  int64
 15  HourPS         17589 non-null  int64
 16  HourPE         17589 non-null  int64
 17  Sunrise        17589 non-null  object
 18  Sunset         17589 non-null  int64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(9), object(1)
memory usage: 2.5+ MB

In [26]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['GHI'] == 0)),:]

In [27]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9486 entries, 0 to 17576
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      9486 non-null   datetime64[ns]
 1   PeriodStart    9486 non-null   datetime64[ns]
 2   Temperature    9486 non-null   float64
 3   Radiation      9486 non-null   float64
 4   DNI            9486 non-null   int64
 5   GHI            9486 non-null   int64
 6   Precipitation  9486 non-null   float64
 7   Humidity       9486 non-null   int32
 8   Pressure       9486 non-null   float64
 9   WindDirection  9486 non-null   float64
 10  WindSpeed      9486 non-null   float64
 11  YearPS         9486 non-null   int64
 12  YearPE         9486 non-null   int64
 13  MonthPS        9486 non-null   int64
 14  MonthPE        9486 non-null   int64
 15  HourPS         9486 non-null   int64
 16  HourPE         9486 non-null   int64
 17  Sunrise        9486 non-null   object
 18  Sunset         9486 non-null   int64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(9), object(1)
memory usage: 1.4+ MB

In [28]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
9290,2020-01-22 04:00:00,2020-01-22 03:00:00,28.3,394.0,251,600,25.9,54,1015.6,87.0,6.9,2020,2020,1,1,3,4,0,0
16149,2020-11-02 23:00:00,2020-11-02 22:00:00,26.6,41.0,265,90,58.1,80,1007.5,71.0,1.4,2020,2020,11,11,22,23,0,0
4592,2019-07-10 10:00:00,2019-07-10 09:00:00,30.3,88.0,112,116,51.0,67,1007.2,242.0,5.8,2019,2019,7,7,9,10,0,0
5326,2019-08-10 00:00:00,2019-08-09 23:00:00,28.3,130.0,0,130,62.6,78,1004.2,224.0,8.3,2019,2019,8,8,23,0,0,0
11642,2020-04-29 04:00:00,2020-04-29 03:00:00,32.4,366.0,421,786,53.1,50,1009.0,105.0,2.2,2020,2020,4,4,3,4,0,0
15266,2020-09-27 04:00:00,2020-09-27 03:00:00,32.2,174.0,795,934,51.3,55,1006.9,155.0,1.4,2020,2020,9,9,3,4,0,0
10785,2020-03-24 11:00:00,2020-03-24 10:00:00,29.6,0.0,1,0,36.1,57,1007.4,109.0,6.1,2020,2020,3,3,10,11,0,0
7969,2019-11-28 03:00:00,2019-11-28 02:00:00,30.4,365.0,12,374,50.0,60,1009.9,56.0,5.2,2019,2019,11,11,2,3,0,0
3672,2019-06-02 02:00:00,2019-06-02 01:00:00,33.0,186.0,688,746,47.9,55,1007.4,105.0,3.5,2019,2019,6,6,1,2,0,0
8477,2019-12-19 07:00:00,2019-12-19 06:00:00,30.2,241.0,235,389,40.0,58,1008.3,67.0,5.1,2019,2019,12,12,6,7,0,0

In [29]:
# convert datetime column of endperiod to just date
df_new['Date']= pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

C:\Users\Justin\AppData\Local\Temp/ipykernel_2288/3941231241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date']= pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

In [30]:
# convert the column (it's a string) to datetime type
dt_series= pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index= pd.DatetimeIndex(dt_series.values)

# set new index
df_new1= df_new.set_index(dt_index)

In [31]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 02:00:00,2018-12-31 01:00:00,24.7,177.0,0,177,56.2,92,1002.1,58.0,7.5,2018,2018,12,12,1,2,0,0,2018-12-31
2018-12-31,2018-12-31 03:00:00,2018-12-31 02:00:00,24.9,254.0,0,254,56.6,93,1002.0,62.0,8.2,2018,2018,12,12,2,3,0,0,2018-12-31
2018-12-31,2018-12-31 04:00:00,2018-12-31 03:00:00,25.0,355.0,0,355,56.8,94,1001.4,64.0,8.5,2018,2018,12,12,3,4,0,0,2018-12-31
2018-12-31,2018-12-31 05:00:00,2018-12-31 04:00:00,25.1,215.0,0,215,56.7,94,1000.5,65.0,8.5,2018,2018,12,12,4,5,05:00:00,0,2018-12-31
2018-12-31,2018-12-31 06:00:00,2018-12-31 05:00:00,25.1,154.0,0,154,56.7,94,999.6,66.0,8.4,2018,2018,12,12,5,6,06:00:00,0,2018-12-31

In [32]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9486 entries, 2018-12-31 to 2021-01-01
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      9486 non-null   datetime64[ns]
 1   PeriodStart    9486 non-null   datetime64[ns]
 2   Temperature    9486 non-null   float64
 3   Radiation      9486 non-null   float64
 4   DNI            9486 non-null   int64
 5   GHI            9486 non-null   int64
 6   Precipitation  9486 non-null   float64
 7   Humidity       9486 non-null   int32
 8   Pressure       9486 non-null   float64
 9   WindDirection  9486 non-null   float64
 10  WindSpeed      9486 non-null   float64
 11  YearPS         9486 non-null   int64
 12  YearPE         9486 non-null   int64
 13  MonthPS        9486 non-null   int64
 14  MonthPE        9486 non-null   int64
 15  HourPS         9486 non-null   int64
 16  HourPE         9486 non-null   int64
 17  Sunrise        9486 non-null   object
 18  Sunset         9486 non-null   int64
 19  Date           9486 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(9), object(1)
memory usage: 1.5+ MB

In [33]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_GHI']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['GHI'].mean()
df_new1['Daily_Temp']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed']= df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [34]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9486 entries, 2018-12-31 to 2021-01-01
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        9486 non-null   datetime64[ns]
 1   PeriodStart      9486 non-null   datetime64[ns]
 2   Temperature      9486 non-null   float64
 3   Radiation        9486 non-null   float64
 4   DNI              9486 non-null   int64
 5   GHI              9486 non-null   int64
 6   Precipitation    9486 non-null   float64
 7   Humidity         9486 non-null   int32
 8   Pressure         9486 non-null   float64
 9   WindDirection    9486 non-null   float64
 10  WindSpeed        9486 non-null   float64
 11  YearPS           9486 non-null   int64
 12  YearPE           9486 non-null   int64
 13  MonthPS          9486 non-null   int64
 14  MonthPE          9486 non-null   int64
 15  HourPS           9486 non-null   int64
 16  HourPE           9486 non-null   int64
 17  Sunrise          9486 non-null   object
 18  Sunset           9486 non-null   int64
 19  Date             9486 non-null   datetime64[ns]
 20  Daily_radiation  9486 non-null   float64
 21  Daily_DNI        9486 non-null   float64
 22  Daily_GHI        9486 non-null   float64
 23  Daily_Temp       9486 non-null   float64
 24  Daily_Precip     9486 non-null   float64
 25  Daily_Humidity   9486 non-null   float64
 26  Daily_Pressure   9486 non-null   float64
 27  Daily_WindDir    9486 non-null   float64
 28  Daily_WindSpeed  9486 non-null   float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(9), object(1)
memory usage: 2.1+ MB

In [35]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [36]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_GHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 02:00:00,24.7,177.0,0,177,56.2,92,1002.1,58.0,7.5,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 03:00:00,24.9,254.0,0,254,56.6,93,1002.0,62.0,8.2,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 04:00:00,25.0,355.0,0,355,56.8,94,1001.4,64.0,8.5,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 05:00:00,25.1,215.0,0,215,56.7,94,1000.5,65.0,8.5,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 06:00:00,25.1,154.0,0,154,56.7,94,999.6,66.0,8.4,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 07:00:00,24.9,158.0,0,158,56.5,94,999.4,67.0,8.3,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 08:00:00,24.4,113.0,0,113,56.1,95,999.9,69.0,8.0,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 09:00:00,23.9,73.0,0,73,55.8,95,1000.3,70.0,7.8,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 10:00:00,23.8,8.0,0,8,55.6,94,1000.7,71.0,7.5,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91
2018-12-31,2018-12-31 23:00:00,24.1,14.0,3,15,51.4,91,1001.9,72.0,6.4,...,2018-12-31,152.1,0.3,152.2,24.59,55.84,93.6,1000.78,66.4,7.91

In [37]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9486 entries, 2018-12-31 to 2021-01-01
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        9486 non-null   datetime64[ns]
 1   Temperature      9486 non-null   float64
 2   Radiation        9486 non-null   float64
 3   DNI              9486 non-null   int64
 4   GHI              9486 non-null   int64
 5   Precipitation    9486 non-null   float64
 6   Humidity         9486 non-null   int32
 7   Pressure         9486 non-null   float64
 8   WindDirection    9486 non-null   float64
 9   WindSpeed        9486 non-null   float64
 10  MonthPE          9486 non-null   int64
 11  Date             9486 non-null   datetime64[ns]
 12  Daily_radiation  9486 non-null   float64
 13  Daily_DNI        9486 non-null   float64
 14  Daily_GHI        9486 non-null   float64
 15  Daily_Temp       9486 non-null   float64
 16  Daily_Precip     9486 non-null   float64
 17  Daily_Humidity   9486 non-null   float64
 18  Daily_Pressure   9486 non-null   float64
 19  Daily_WindDir    9486 non-null   float64
 20  Daily_WindSpeed  9486 non-null   float64
dtypes: datetime64[ns](2), float64(15), int32(1), int64(3)
memory usage: 1.6 MB

In [38]:
# dropping ALL duplicate values except the last value
new_df= new_df[~new_df.Date.duplicated(keep='last')]

In [39]:
# show the number of rows and columns available
new_df.shape

(733, 21)

In [40]:
# print the first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_GHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 23:00:00,24.1,14.0,3,15,51.4,91,1001.9,72.0,6.4,...,2018-12-31,152.100000,0.300000,152.200000,24.590000,55.840000,93.600000,1000.780000,66.400000,7.910000
2019-01-01,2019-01-01 23:00:00,24.0,17.0,51,22,41.6,92,1002.4,67.0,6.8,...,2019-01-01,204.666667,113.166667,264.833333,25.133333,49.125000,88.500000,1001.458333,71.500000,7.108333
2019-01-02,2019-01-02 23:00:00,24.3,18.0,10,19,47.2,90,1003.4,62.0,5.7,...,2019-01-02,147.083333,462.250000,414.500000,25.975000,41.666667,82.416667,1002.083333,67.750000,7.908333
2019-01-03,2019-01-03 23:00:00,24.8,13.0,91,23,35.5,86,1004.6,69.0,7.0,...,2019-01-03,194.666667,153.250000,281.000000,25.500000,46.783333,87.750000,1003.291667,69.416667,6.958333
2019-01-04,2019-01-04 23:00:00,24.3,14.0,25,16,33.0,83,1003.3,68.0,5.3,...,2019-01-04,130.916667,523.416667,438.833333,26.516667,33.250000,73.666667,1004.208333,70.000000,8.108333
2019-01-05,2019-01-05 23:00:00,24.0,11.0,134,25,32.8,85,1002.8,64.0,3.8,...,2019-01-05,193.583333,315.500000,382.666667,26.708333,35.708333,72.083333,1002.941667,75.500000,6.583333
2019-01-06,2019-01-06 23:00:00,23.6,14.0,85,22,30.8,85,1002.6,67.0,5.5,...,2019-01-06,195.083333,384.500000,369.250000,26.658333,31.933333,69.750000,1002.483333,70.750000,5.800000
2019-01-07,2019-01-07 23:00:00,24.2,12.0,111,23,30.9,78,1002.4,68.0,5.0,...,2019-01-07,175.250000,257.750000,317.333333,25.966667,33.050000,71.833333,1002.075000,70.833333,7.308333
2019-01-08,2019-01-08 23:00:00,23.6,11.0,124,24,35.8,88,1002.9,54.0,4.1,...,2019-01-08,121.333333,544.500000,448.000000,26.508333,32.516667,69.666667,1001.883333,75.333333,7.150000
2019-01-09,2019-01-09 23:00:00,24.1,12.0,95,22,34.0,85,1002.3,66.0,6.2,...,2019-01-09,170.250000,392.666667,371.250000,25.591667,35.941667,81.416667,1002.450000,64.583333,6.608333

In [41]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'Radiation', 'DNI', 'GHI', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_GHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [42]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_GHI','Daily_radiation']]

In [43]:
# print the first 5 rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_GHI,Daily_radiation
2018-12-31,12,2018-12-31,24.590000,55.840000,93.600000,1000.780000,66.400000,7.910000,0.300000,152.200000,152.100000
2019-01-01,1,2019-01-01,25.133333,49.125000,88.500000,1001.458333,71.500000,7.108333,113.166667,264.833333,204.666667
2019-01-02,1,2019-01-02,25.975000,41.666667,82.416667,1002.083333,67.750000,7.908333,462.250000,414.500000,147.083333
2019-01-03,1,2019-01-03,25.500000,46.783333,87.750000,1003.291667,69.416667,6.958333,153.250000,281.000000,194.666667
2019-01-04,1,2019-01-04,26.516667,33.250000,73.666667,1004.208333,70.000000,8.108333,523.416667,438.833333,130.916667

In [44]:
# show the number of rows and column
final_df.shape

(733, 11)

In [45]:
# save cleaned dataset
final_df.to_csv('../dataset/manila-solcast-clean.csv')